

@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem)
    }
}

.anuncio{
    background-color: lighten($gris, 4);
    border: 1.8px solid darken($gris, 19)

}

.contenido-anuncio{
    padding: 2rem;
}

p{
    margin: 0;
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 2.8rem;
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    li{
        flex: 1;
        display: flex;
        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }
    }
}
