.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    display: none;

    @include tablet{
        display: flex;
        align-items: center;
    }


    a{
        color: $blanco;
        text-decoration: none;
        font-size: 1.4rem;
        display: block;
        text-align: center;
        
        @include tablet {
            margin-right: 2rem;
            

            &:last-of-type {
                margin-right: 0;
            }

        }
    }
}

/** Menu de Hamburguesa **/

@include tablet{
    .mobile-menu{
        display: none;
    }
}
// De esta manera tmb se puede hacer, como la de arriba
// .mivile-menu {
//     @include tablet{
//         display: none;
//     }
// }

.mobile-menu {
    img{
        width: 5rem;
    }
}

.mostrar {
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }
}